:root {
  --bg-color: #EB9100;
  --container-color: #7D4300;
  --block-color: #9F9D82;
  --part-color: #7CD882;
  --hover-color: #EB9100;
}

* {
	font-family: 'Arial';
	font-size: 20px;
	padding: 10px;
	margin: 5px 5px 15px;
	border: 1px solid black;
	border-radius: 20px;
}

html {
	margin: 0;
	padding: 0;
	border: none;
	background-color: var(--bg-color);
}

body {
	border: none;
	background-color: var(--bg-color);
}


form {
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
	flex-direction: column;
}

input {
	border: 1px solid black;
	border-radius: 20px;
	background-color: var(--part-color);
}

input:hover{
	background-color: var(--hover-color);
}
