div.header, div.project {
	background-color: var(--container-color);
}

div.header-content, div.project-content {
	background-color: var(--block-color);
}

div.header {
	display: flex;
	justify-content: space-between;
}

div.header-content {
	flex-grow: 1;
}

div.project-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.task {
    min-width: 200px;
	flex-basis: 15%;
	flex-grow: 1;
}