/*BASICS*/

:root {
  --container-color: #124310;
  --block-color: #274380;
  --part-color: #707070;
}

html {
	margin: 0;
	padding: 0;
	border: none;
	background-color: var(--bg-color);
}

body {
	border: none;
	background-color: var(--bg-color);
}

form {
	padding: 0;
	border: none;
}

input {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--part-color);
}

input:hover {
	background-color: var(--hover-color);
}

/*HEADER*/

div.header {
	background-color: var(--container-color);
}

div.header-content {
	background-color: var(--block-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.header-block {
	background-color: var(--part-color);
}


/*WRAPER*/

div.wraper {
	background-color: var(--container-color);
}

div.project {
	background-color: var(--block-color);
}

div.project-content {
	margin: 0;
	padding: 0;
	border: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.project-name {
	flex-grow: 1;
	background-color: var(--part-color);
}

div.task {
	min-width: 20%;
	max-width: 45%;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: var(--part-color);
}