<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/flexbox1.css">
        <title>My ToDo List</title>
    </head>
    <body>
        <div class="header">
            <div class="header-content">
                <div class="content">
                	<span>Hello, </span>
                    <span th:text="${user.username}"></span>
                </div>
                <div class="content">
	                <form th:fragment="logout" th:action="@{/logout}" method="post">
	                    <input type="submit" value="Sign out">
	                </form>
                </div>
            </div>
            <div class="header-content">
            	<div class="content">
	                <form th:action="@{/projects/add/project}" method="post">
	                    <div><input type="text" name="name" placeholder="project name" value="project name"></div>
	                    <div><input type="submit" value="Add project"></div>
	                </form>
            	</div>
            </div>
        </div>

            <div class="project" th:each="project: ${user.projects}">

                <div class="project-content">
                    <div class="content"><span th:text="${project.name}">project name</span></div>
                </div>

                <div class="project-content">
                    <div class="content" th:each="task: ${project.tasks}">
                        <div><span th:text="${task.title}">title</span></div>
                        <div><span th:text="${task.text}">text</span></div>
                    </div>

                    <!-- ADD TASK -->
                    <div class="content">
                        <form th:action="@{/projects/add/task}" method="post">
                            <input type="hidden" name="id" th:value="${project.id}"/>
                            <div><input type="text" name="title" placeholder="title" value="title"></div>
                            <div><input type="text" name="text" placeholder="description" value="description"></div>
                            <div><input type="submit" value="Commit"></div>
                        </form>
                    </div>

                </div>
            </div>

    </body>
</html>